<h1>New Imports</h1>




<%= form_for @bean do |f| %>
<div class="sub">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="sub">
  <%= f.label :roast %>
  <%= f.text_field :roast %>
</div>

<div class="sub">
  <%= f.label :origin %>
  <%= f.text_field :origin %>
</div>

<div class="sub">
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
</div>

<%= f.submit "Add fresh import. Hype" %>

<% end %>
